strict-peer-dependencies=false

# Prevents publish command on any other branch
publish-branch=main

# So pnpm add puts exact version of package, not ^
save-prefix=""

prefer-workspace-packages=true

registry=https://registry.npmjs.org/
